html {
  background-color: rgb(123, 102, 207)
}

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  margin: 0 auto;
  color: dimgray;
}
#phaser-game {
  border: 2px solid white;
  border-radius: 5px;
}
