.shape-picker-group {
  display: flex;
  margin: 10px
}

.shape-picker {
  position: relative;
  background-color: lightgrey;
  width: 89px;
  height: 89px;
  border-radius: 5px;
}

.shape {
  position: absolute;
  width: 50px;
  left: 19px;
  top: 20px;
}

.shape-up {
  position: absolute;
  left: 36px;
  top: 3px
}

.shape-down {
  position: absolute;
  left: 36px;
  top: 75px
}

@media (max-width: 320px) {
.shape-picker {
  width: 70px;
  height: 70px;
}

.shape {
  width: 40px;
  left: 15px;
  top: 15px;
}

.shape-up {
  position: absolute;
  left: 27px;
  top: 3px
}

.shape-down {
  position: absolute;
  left: 27px;
  top: 57px
}
}