.GameSelectSplash {
  background: url('../assets/garyselect.png') no-repeat center center fixed;
  width: 400px;
  height: 700px;
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
  color: white;
  display: grid;
  grid-template-columns: 200px 200px;
  grid-template-rows: 100px 120px 120px 120px 240px;
}

.PlayerName {
  font-size: 1.5rem;
  grid-column-start: 1;
  grid-column-end: end;
  grid-row: 1;
}

.GameSelectSplash img {
  width: 200px;
  height: 200px;
  z-index: auto; 
}

.logout {
  color: #CB2D3D;
  cursor: pointer;
  font-size: 1rem;
}

.GameSelectSplash span {
  z-index:1;  
}

.Time {
  font-size: 5rem;
  position: relative;
  bottom: 175%;
  left: 3%;
}

.Minutes {
  font-size: 1rem;
  position: relative;
  bottom: 195%;
  left: 3%;
}

.Two {
  grid-column: 1;
  grid-row: 2;
}

.Five {
  grid-column: 2;
  grid-row: 3;
}

.Ten {
  grid-column: 1;
  grid-row: 4;
}

.Two a {
  text-decoration: none;
  color: white;
}

.Five a {
  text-decoration: none;
  color: white;
}

.Ten a {
  text-decoration: none;
  color: white;
}

@media (min-width: 320px) and (max-width: 375px) {
  .GameSelectSplash {
    width: 95vw;
    height: 95vh;  
    background-size: 95%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% 20% 20% 30%;
  }

  .PlayerName {
    font-size: 1.4rem;
  }

  .Time {
    font-size: 3.5rem;
    bottom: 150%;
  }

  .Minutes {
    font-size: 0.8rem;
    bottom: 165%;
  }

  .GameSelectSplash img {
    width: 150px;
    height: 150px;
  }

  .Two {
    margin-top: 20px;
  }
}

@media (min-width: 375px) and (max-width: 425px) {
  .GameSelectSplash {
    width: 95vw;
    height: 95vh;  
    background-size: 95%;
    grid-template-columns: 50% 50%;
    grid-template-rows: 10% 20% 20% 20% 30%;
  }

  .Time {
    font-size: 3.5rem;
    bottom: 135%;
  }

  .Minutes {
    font-size: 0.8rem;
    bottom: 147%;
  }

  .GameSelectSplash img {
    width: 150px;
    height: 150px;
  }

  .Two {
    margin-top: 20px;
  }
}