table {
  margin: auto;
  margin-top: 10%;
  }
  
  th {
    background-color: #FDAB4A;
    border-radius: 5px;
    padding: 6px 30px;
  }
  
  td {
    background-color: #01D1C1;
    border-radius: 5px;
    padding: 6px 30px;
    font-size: 1rem;
  }

.GameResultSplash {
  background: url('../assets/Stage.png');
  width: 400px;
  height: 700px;
  border: 1px solid rgb(97, 75, 75);
  text-align: center;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
  color: white
}

.LilySpeak {
  margin-top: 45%;
}

.LilyText {
  width: 40%;
  font-size: 1.0rem;
  position: relative;
  top: 100px;
  left: 17%;
}

.Home img {
  width: 12%;
}

.Home {
  position: relative;
  bottom: 8%;
  right: 30%;
}

@media (max-width: 320px) {
.GameResultSplash {
    width: 318px;
    height: 568px;
    background-size: 100%
  }

  th {
    font-size: 1rem;
  }
  
  td {
    font-size: 0.8rem;
  }

  .LilyText {
    width: 150px;
    font-size: 0.9rem;
    top: 208px;
    margin-left: 23px;
  }

  .GameResultSplash a {
    top: 270px;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
.GameResultSplash {
    width: 358px;
    height: 638px;
    background-size: 100%
  }

  .LilyText {
    width: 200px;
    font-size: 1rem;
    top: 232px;
    margin-left: 12px;
  }

  .GameResultSplash a {
    top: 280px;
  }

}

@media (min-width: 361px) and (max-width: 375px) {
.GameResultSplash {
    width: 373px;
    height: 665px;
    background-size: 100%
  }

  .LilyText {
    width: 200px;
    font-size: 1.05rem;
    top: 245px;
    margin-left: 16px;
  }

  .GameResultSplash a {
    top: 300px;
  }
}
