
.Splash {
  width: 400px;
  height: 700px;
  background: url("../assets/Background.png") no-repeat center center fixed;
  border: 1px solid white;
  text-align: center;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
}

.LogoLogin {
  height: 55%;
}

.LogoLogin img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 17%;
}

.FormLogin {
  font-size: 1rem;
  height: 45%;
  height: 270px;
  margin: auto auto;
  width: 85%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.Signup, .Login {
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.Signup, .Login :hover {
  cursor: pointer;
}

.Login {
  width: 89%;
  height: 30%;
  background-color: rgb(1, 209, 193);
}

.Form input {
  height: 35px;
  width: 89%
}

.User {
  font-size: 1rem;
}

.Signup {
  width: 90%;
  height: 25px;
  background-color: rgb(253, 171, 74);
  text-decoration: none;
  color: white;
  padding-top: 8px;
}