
.SplashCreate {
  width: 400px;
  height: 700px;
  background: url("../assets/Background.png") no-repeat center center fixed;
  border: 1px solid white;
  text-align: center;
  margin: 0 auto;
  font-family: 'Fredoka One', 'Roboto', cursive;
}

.Avatars {
  display: flex;
  flex-direction: row;
  align-content: space-between;
  margin-bottom: 0px;
}

.LilyImg {
  margin-top: 15px;
}

.GaryImg {
  margin-top: 30px;
}
.Avatars input{
  margin-left: 15px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.Avatars input[type=radio]:checked + label>img {
  transition: 200ms all;
  transform: 
    /* rotateZ(-360deg);  */
    translateY(-15px);
  background: radial-gradient(closest-side, #A08AF9, white)
}

.FormCreate {
  font-size: 1rem;
  margin: 10% auto;
  height: 85%;
  width: 85%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.FormBodyCreate {
  margin-top: 0px;
}

.Avatars {
  display: flex;
  flex-direction: row;
  align-content: space-between;
}

.Name input{
  width: 89%;
  height: 40px;
  text-align: center;
  font-family: 'Fredoka One';
  font-size: 1rem;
  border: 1px solid rgb(180, 180, 180);
  border-radius: 5px;
}

.Name {
  margin-bottom: 25px;
}

.FormCreate #create {
  height: 40px;
  font-size: 1rem;
  border-radius: 5px;
  text-align: center;
  width: 92%;
  height: 35px;
  background-color: rgb(1, 209, 193);
  color: white;
  padding-top: 4px;
  font-family: 'Fredoka One';
}

.FormCreate #create :hover{
  cursor: pointer;
}

.User {
  font-size: 0.8rem;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 5px;
}

.GaryImg {
  margin-top: 30px;
}

.LilyImg {
  margin-left: 40px;
}



@media (max-width: 320px) {
  .SplashCreate {
    width: 318px;
    height: 568px;
    background-size: 105%
  }
  
  .Name input{
    height: 32px;
  }

  .Name {
    margin: 0px;
  }

  .GaryImg {
    width: 115px;
    margin-top: 27px;
  }

  .LilyImg {
    width: 115px;
  }

  .Avatars {
    margin-bottom: 10px;
  }

  h4 {
    margin-top: 7px;
    margin-bottom: 7px;
  }
}

@media (min-width: 321px) and (max-width: 360px) {
  .SplashCreate {
    width: 358px;
    height: 638px;
    background-size: 105%
  }

  .Name input{
    height: 36px;
  }

  .Name {
    margin: 0px;
  }

  .GaryImg {
    width: 120px;
    margin-top: 27px;
  }

  .LilyImg {
    width: 120px;
    margin-left: 20px;
  }

  h4 {
    margin-top: 7px;
    margin-bottom: 7px;
  }

}

@media (min-width: 361px) and (max-width: 375px) {
  .SplashCreate {
    width: 373px;
    height: 665px;
    background-size: 105%
  }

  .Name {
    margin: 0px;
  }

  .GaryImg {
    margin-top: 27px;
  }

  .LilyImg {
    margin-left: 27px;
  }
}