
.PreGameSplash {
  width: 400px;
  height: 700px;
  background: url("../assets/Stage.png") no-repeat center center fixed;
  border: 1px solid white;
  text-align: center;
  margin: 0 auto;
  font-family: 'Fredoka One', cursive;
}

.PreGameLogo {
  height: 65%;
}

.PreGameLogo img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
}

.Info {
  margin: 0 auto;
  font-size: 1.5rem;
  color: rgba(117, 117, 117, 1);
  width: 60%;
}

@media (max-width: 320px) {
  .PreGameSplash {
    width: 318px;
    height: 568px;
    background-size: 105%
  }

  .PreGameLogo img {
    padding-top: 130px;
  }

  .Info {
    font-size: 1.3rem;
  }

}

@media (min-width: 321px) and (max-width: 360px) {
  .PreGameSplash {
    width: 358px;
    height: 638px;
    background-size: 105%
  }

  .PreGameLogo img {
    padding-top: 170px;
  }

  .Info {
    font-size: 1.4rem;
  }

}

@media (min-width: 361px) and (max-width: 375px) {
  .PreGameSplash {
    width: 373px;
    height: 665px;
    background-size: 105%
  }
}